@import url("style-post.css");
@import url("grid-small.css") screen and (max-device-width:760px);
@import url('grid-large.css') screen and (min-device-width:761px);


/* @import url("grid-large.css")(min-width:760px); */


.main-grid {
    display: grid;
}


/* ===================
     general style
====================== */


*{box-sizing: border-box;}


html, body {
		font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
		scroll-behavior: smooth;
		width: 100%;
		height: 100%;
	 	background-color: #fff;
    padding: 0;
    margin:0;
    color:#252525;
}

img {
    width:100%;
}


/* ====================
       typogarphy
       gernal layout
======================= */

h1,
h2,
h3{
    font-weight: 700;
}

h2 {
		font-size: 1.1rem;
		letter-spacing: 1.2px;
}
h1 {
    font-size: 1.55rem;
}
p {
    font-size: 1rem;
    color:#6B6F7E;
}

a {
    text-decoration: none;
    color:#252525;
  }

a:hoveer {
    color:#E1827E;
  }


nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

/* header */

.header-logo p {
    font-size: 1.25rem;
    letter-spacing: 1.2px;
    font-weight: 700;
    color: #212A40;
}

@media (min-width:760px) {
    .header-logo p {
        margin: 0;
        padding-top: 20px;
    }
}

.header {
    padding-bottom: 20px;
}
.header-menu li{
    font-size:.9rem;
    font-weight: 700;
    letter-spacing: 1.2px;
}


.header-menu a:hover,
.main-post-col-link:hover,
.footer-bottom a:hover{
    color:#E1827E;
}


.main-post-col {
    margin: .5em 0;
}


.main-post-col h2 {
    font-size: 1em;
    line-height: 1.2;
}


/* load more button */

.main-load {
	margin-bottom:20px;
}
.main-load-btn{
    display:flex;
    font-weight: 700;
    margin-top: .5em;
    background-color: #E1827E;
    color: #6B6F7E;
    padding: .5em 1.75em;
    justify-content: center;
}

.main-load-btn a{
    color:#fff;
    font-weight: 700;
}

/* footer*/



.footer-bottom > *{
	font-size: .9rem;
	margin:.3em 0;
}

.footer-mail,
.footer-bottom a{
    color:#6B6F7E;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
		padding-top: 1em;
		opacity: 0.6;
		font-size:.9rem;
}


/* ===========================
footer - center - small screen
==============================*/



.footer-sub-copy {
    opacity: 0.6;
}


/* footer social icon */

.social-list {
		list-style: none;
		padding: 0;
		display: flex;
}

.social-item {
    margin: 1;
}
